.input-block{
  width: 400px;
  margin: 10px;
}
.form-control{
  margin-bottom: 8px;
}

.list-group{
/*  background-color: rgba(0, 38, 44, 0.5);*/
  width: 50%;
  margin: 0 auto;
  position: center;
  text-align: center;
}
p {
  font-weight: bold;
}
